* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  padding: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
}

body {
  background-color: rgb(241, 241, 241);
  font-family: "Roboto", sans-serif;
}

hr {
  margin-top: -48px;
  border: 0;
  height: 42px;
  background: linear-gradient(to right, white, rgb(0, 208, 255), white);
}
label {
  font-weight: 500;
  font-size: 1rem;
}

.error{
  font-size: x-small;
  font-weight: bold;
  text-align: end;
  color: red;
}
.marco {
  display: flex;
}

.temario {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 50px;
}

.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  width: 50%;
}

.grupBtn {
  padding: 50px 20%;
}

.btnApp {
  color: white;
  margin: 5px;
  padding: 8px 20px;
  border: 1px solid rgb(5, 72, 5);
  outline: none;
  background-color: rgb(5, 72, 5);
  font-size: 1.2em;
  width: 100%;
  cursor: pointer;
  border-radius: 7px;
}

.btnApp:hover {
  background-color: white;
  color: black;
}


.btnEdid {
  background-color: transparent;
  color: black;
  padding: 1px 1px;
  border: 0.4px solid cornsilk;
}

.btnShow {
  width: 30px;
  cursor: pointer;
}

.btnDel {
  background-color: transparent;
  color: black;
  padding: 1px 1px;
  border: 0.4px solid cornsilk;
}

.tablaListado {
  position: relative;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
}
.role-style {
  font-weight: bold;
  text-transform: uppercase;
  font-size: smaller;
}
.text-primary{
  text-align: left; 
font-family: Arial Black; 
font-weight: bold; 
font-size: 2.2rem; 
color: #075d85 !important;
text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}
.text-secondary
{
  font-weight: bold !important; 
  font-size: 1.2rem; 
}
.course-description {
  height: auto;
  max-height: 200px;
  overflow-y: auto;
  background-color: #f8f9fa; 
  padding: 1.2rem; 
  white-space: pre-wrap;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) rgba(230, 230, 230, 0.5);
}

.course-description::-webkit-scrollbar {
  width: 8px;
}

.course-description::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 4px;
}

.course-description::-webkit-scrollbar-track {
  background-color: rgba(230, 230, 230, 0.5);
}

.addBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(22, 116, 135);
  border: none;
  border-radius: 50px;
  color: white;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: -43px;
  font-size: x-large;
}

.addBtn:hover {
  background-color:   rgb(30, 130, 150);
  font-weight: 900;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  
}

.pageSice {
  display: flex;
  justify-content: start;
  align-items: center;
}

.pageSice {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 10px; 
}

.pagination > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination > ul > li {
  font-style: none;
  padding: 5px 10px;
  background-color: rgb(5, 78, 124);
  background: linear-gradient(to bottom, #24a6c3, #025f7e);
  margin: 0 5px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}

.pagination > ul > li:hover {
  background-color: white;
  background: linear-gradient(to bottom, #80dae2, #03516b);
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.pagPagination li {
  padding: 5px 10px;
  background-color: rgb(5, 78, 124);
  background: linear-gradient(to bottom, #24a6c3, #025f7e);
  margin: 0 5px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}
.pagPagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}


.pagPagination li:hover {
  background-color: white;
  background: linear-gradient(to bottom, #80dae2, #03516b);
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.buttonPaginationLeft,
.buttonPaginationRight {
  display: flex;
  align-items: center;
}
.btnPagination {
  color: black;
  background-color: transparent;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50px;
  margin: 0 5px;
}

.btnPagination:hover {
  background-color: rgb(229, 231, 232);
}

.activo {
  background-color: #0a0346;
}

.textCenter {
  margin: auto;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 100px;
}

.tittle-search {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seatch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tittle {
  font-size: 2em;
  font-weight: 600;
}

.nav-icon {
  cursor: pointer;
  font-size: 24px;
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}


.main {
  display: flex;
}


.section {
  flex: 1;
  padding: 20px;
}

@media (min-width: 600px) {
  .aside {
    width: 175px;
    background-color: rgb(31, 56, 71);
    position: sticky;
    top: 0;
    height: 100vh; 
  }
  }


@media (max-width: 600px) {
  .aside {
    display: none;
    position: absolute;
    background-color: rgb(31, 56, 71);
    z-index: 1000;
    width: 100%;
  }

  .aside.active {
    display: block;
  }

  .nav-icon {
    display: block;
    color: white;
  }
}

@media (max-width: 680px) {

  .section {
    flex: 1;
    padding: 10px;
  }

}

@media (max-width: 950px) {

  .pagination {
    display: flex;
    flex-direction: column;
    
    justify-content:space-between;
    align-items: center;
    
  }
  
  .pageSice {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
  }
  
}